@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif ;
}
.header{
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 100000;
    background-color: #0d121685;
}
#header-main{
    background: url(../private.bank.github.io/bank-img/robert-bye-jeF-vyxytb4-unsplash.jpg) no-repeat;
    background-size: cover;
    margin-bottom: 5rem;
}
.logo-div{
    width: 20%;
}
.h-logo {
    width: 50px;
    padding: 0px 50px;
}
.h-logo img{
    width: 100%;
    margin: 0;
}
.item{
    width: 60%;
    display: flex;
    justify-content: center;
}
.item ul{
    display: flex;
    align-items: baseline;
}
.item ul li{
    list-style: none;
    padding: 0px 20px;
    font-family: 'Kanit', sans-serif;
}
.item ul li a{
    text-decoration: none;
    color: #ffffffe8;
    font-weight: 600;
}
.item ul li a:hover{
    text-decoration: underline #ffffffe8;
    color: #ffffffe8;
    font-weight: 800;
}
.log-sign ul{
    display: flex;
    align-items: baseline;
}
.log-sign{
    width: 20%;
}
#logout{
    display: none;
}
#logout{
    background: black;
    color: #ffffffe8;
    padding: 5px 10px;
    border-radius: 15px;
}
#logout:hover{
    background: white;
    color: #14191e;
    text-decoration: none;
}
.log-sign ul li{
    list-style: none;
    padding: 0px 5px;
    font-family: 'Kanit', sans-serif;
}
.head-temp{
    justify-content: center;
    padding: 175px 50px;
    background-color: #0d121685;
    align-items: end ;
}
.head-box {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.head-box h1{
    font-family: sans-serif;
    margin-bottom: 10px;
    font-size: 43px;
    color: #ffffff;
}
.head-box p{
    margin: 0;
    font-family: sans-serif;
    margin-bottom: 2rem;
    font-size: 20px;
    color: #ffffffe8;
    line-height: 25px;
}
.account{
    border: 2px solid #ffffffe8;
    border-radius: 10px;
    color: #ffffffe8;
    padding: 10px 15px;
    text-decoration: none;
}
.account:hover{
    background-color: #e2e4d6;
    color: #14191e;
}
.contant{
    display: flex;
    align-self: center;
    justify-content: space-around;
    padding: 2.5rem 0rem;
    margin-bottom: 3rem;
}
.dep{
    text-align: center;
}
.dep-h1{
    color: black;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Kanit';
    margin: 0;
}
.c1-box{
    background: url(../private.bank.github.io/bank-img/bank-finance.jpg) no-repeat;
    background-size: cover;
    width: 250px;
    padding: 30px 10px;
    text-align: center;
    position: relative;
    transition: 0.5s;
}
.c2-box{
    background: url(../private.bank.github.io/bank-img/towfiqu-barbhuiya-jpqyfK7GB4w-unsplash.jpg) no-repeat;
    background-size: cover;
    width: 250px;
    padding: 30px 10px;
    text-align: center;
}
.c3-box{
    background: url(../private.bank.github.io/bank-img/withDraw.jpg) no-repeat;
    background-size: cover;
    width: 250px;
    padding: 30px 10px;
    text-align: center;
}
.b-img{
    width: 50px;
    margin: 0 auto;
}
.b-img img{
    width: 100%;
}
.c-h2{
    color: #ffffffe8;
    font-family: sans-serif;
}
.c-p{
    color: #ffffffe8;
    font-family: sans-serif;
}
.footer{
    background-color: black;
    color: white;
    padding: 30px 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.f-items ul li {
    list-style: none;
    margin-bottom: 15px;
}
.f-items ul li a{
    text-decoration: none;
    color: white;
}
.f-items ul li a:hover{
    text-decoration: underline #14191e;
    color: #14191e;
}
#login{
    background: black;
    color: #ffffffe8;
    padding: 5px 15px;
    border-radius: 15px;
    text-decoration: none;
}
#login:hover{
    background: white;
    color: #14191e;
    text-decoration: none;
}
#signup{
    background: black;
    color: #ffffffe8;
    padding: 5px 15px;
    border-radius: 15px;
    text-decoration: none;
}
#signup:hover{
    background: white;
    color: #14191e;
    text-decoration: none;
}
