@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
body{
    margin: 0;
    padding: 0;
}
.header{
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0d121685;
    position: fixed;
    z-index: 100000;
    width: 100%;
    box-shadow: 0px 0px 5px 0px white;
}
.h-logo {
    width: 50px;
    padding: 0px 60px;
}
.h-logo img{
    width: 100%;
    margin: 0;
}
.item{
    padding: 0px 60px;
}
.item ul{
    display: flex;
    align-items: baseline;
}
.item ul li{
    list-style: none;
    padding: 0px 20px;
    font-family: 'Kanit', sans-serif;
}
.item ul li a{
    text-decoration: none;
    color: #ffffffe8;
    font-weight: 600;
}
.item ul li a:hover{
    text-decoration: underline #14191e;
    color: #14191e;
    font-weight: 800;
}
#login{
    background: black;
    color: #ffffffe8;
    padding: 5px 10px;
    border-radius: 15px;
}
#login:hover{
    background: white;
    color: #14191e;
    text-decoration: none;
}
#signup{
    background: black;
    color: #ffffffe8;
    padding: 5px 10px;
    border-radius: 15px;
}
#signup:hover{
    background: white;
    color: #14191e;
    text-decoration: none;
}
.login-Popup{
    text-align: center;
    margin: 0 auto;
    padding: 20px 50px;
    background-color: #00000082;
    font-family: sans-serif;
    border-radius: 20px;
    box-shadow: 0 0px 20px blanchedalmond;
    height: 260px;
}
.signUp{
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}
.text{
    width: 172px;
    margin: 0 auto;
    text-align: initial;
    color: white;
    font-family: 'Kanit';
}
#button{
    border: 2px solid #ffffffe8;
    border-radius: 10px;
    color: #ffffffe8;
    padding: 5px 30px;
    font-weight: 700;
    text-decoration: none;
    margin: 0px 25px;
}
#button:hover{
    background-color: #e2e4d6;
    color: #14191e;
}
.user{
    margin: 0;
}
.email{
    margin-bottom: 15px;
    padding: 5px 0px;
    border: none;
    background: no-repeat;
    color: white;
    border-bottom: 1px solid white;
    outline: none;;
}
#password{
    padding: 5px 0px;
    /* border-radius: 8px; */
    border: none;
    background: none;
    border-bottom: 1px solid white;
    outline: none;
    margin-bottom: 15px;
    color: white;
}
.password{
    margin-bottom: 40px;
}
#span{
    text-decoration: none;
    color: rgb(50, 197, 255);
}
#span:hover{
    text-decoration: none;
    color: rgb(255, 166, 32);
}
.login{
    color: white;
    font-family: 'kanit';
}

.header-main{
    background: url(../bank-img/bank-unsplash.jpg) no-repeat;
    background-size: cover;
    background-color: #0d121685 !important;
    /* padding:0rem 2rem 10rem 2rem; */
    justify-content: space-around;
}
.signUp-head {
    position: relative;
    display: flex;
    padding: 7.70rem 2rem;
    background-color: #00000054;
}
.signUp-text{
    padding: 6rem 2rem;
    /* margin-right: 8rem; */
    width: 50%;
}
.signUp-text p{
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    padding-right: 7rem;
}
.head-shades{
    background-color: #0d121685;
}

.accounts{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.accounts a{
    color: #fff;
    font-family: 'kanit';
    margin: 0;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}
.accounts a:hover{
    border-bottom: 2px solid white;
    text-decoration: none;
}
