@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
body{
    margin: 0;
    padding: 0;
}
.header{
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0d121685;
    position: fixed;
    z-index: 100000;
    width: 100%;
}
.h-logo {
    width: 50px;
    padding: 0px 50px;
}
.h-logo img{
    width: 100%;
    margin: 0;
}
.item ul{
    display: flex;
    align-items: baseline;
}
.item ul li{
    list-style: none;
    padding: 0px 20px;
    font-family: 'Kanit', sans-serif;
}
.item ul li a{
    text-decoration: none;
    color: #ffffffe8;
    font-weight: 600;
}
.item ul li a:hover{
    text-decoration: underline #14191e;
    color: #14191e;
    font-weight: 800;
}
#login{
    background: black;
    color: #ffffffe8;
    padding: 5px 10px;
    border-radius: 15px;
}
#login:hover{
    background: white;
    color: #14191e;
    text-decoration: none;
}
#signup{
    background: black;
    color: #ffffffe8;
    padding: 5px 10px;
    border-radius: 15px;
}
#signup:hover{
    background: white;
    color: #14191e;
    text-decoration: none;
}
.login-Popup{
    text-align: center;
    margin: 0 auto;
    padding: 20px 60px;
    background-color: #000000a6;
    font-family: sans-serif;
    border-radius: 20px;
}
.signUp{
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}
.text{
    width: 200px;
    margin: 0 auto;
    text-align: initial;
    color: white;
    font-family: 'Kanit';
}
#button{
    border: 2px solid #ffffffe8;
    border-radius: 10px;
    color: #ffffffe8;
    padding: 10px 57px;
    font-weight: 700;
    text-decoration: none;
}
#button:hover{
    background-color: #e2e4d6;
    color: #14191e;
}
.user{
    margin: 0;
}
.email{
    margin-bottom: 10px;
    padding: 5px 5px;
    border-radius: 8px;
}
#password{
    padding: 5px 5px;
    border-radius: 8px;
}
.password{
    padding: 5px 5px;
    margin: 10px 14px  45px 0px
}
#span{
    text-decoration: none;
    color: rgb(50, 197, 255);
}
#span:hover{
    text-decoration: none;
    color: rgb(255, 166, 32);
}
#signUp-record{
    display: none;
}
#mytable{
    margin: 0 auto ;
}
.header-main{
    display: flex;
    background: url(../bank-img/bank-unsplash.jpg) no-repeat;
    background-size: cover;
    background-color: #0d121685 !important;
    /* padding:0rem 2rem 10rem 2rem; */
    justify-content: space-around;
}
.signUp-head {
    position: relative;
    display: flex;
    padding: 6rem 15rem;
    background-color: #00000054;
}
.signUp-text{
    padding: 6rem 1rem;
}
.signUp-text p{
    color: white;
    font-size: 16px;
    font-family: sans-serif;
}
.head-shades{
    background-color: #0d121685;
}