@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
body{
    margin: 0;
    padding: 0;
}
.header{
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 100000;
    background-color: #0d121685;
}
.h-logo{
    width: 50px;
    padding: 0px 50px;
}
.h-logo {
    width: 50px;
    padding: 0px 50px;
}
.h-logo img{
    width: 100%;
    margin: 0;
}
.item ul{
    display: flex;
    align-items: baseline;
}
.item ul li{
    list-style: none;
    padding: 0px 20px;
    font-family: 'Kanit', sans-serif;
}
.item ul li a{
    text-decoration: none;
    color: #ffffffe8;
    font-weight: 600;
}
.item ul li a:hover{
    text-decoration: underline #14191e;
    color: #14191e;
    font-weight: 800;
}
.b-type{
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    padding: 110px 50px 20px 50px;
}
.deposit{
    border-radius: 15px;
    background-image: linear-gradient(to right, rgb(58, 131, 196) , rgb(15, 181, 184));
    color: white;
    width: 200px;
    padding: 15px;
}
.pkr{
    margin: 0px;
    font-family: 'kanit';
    font-size: 25px;
}
.Drawal{
    border-radius: 15px;
    background-image:linear-gradient(to right, rgb(15, 181, 184), rgb(43, 184, 15)) ;
    color: white;
    width: 200px;
    padding: 15px;
}
.Balance{
    border-radius: 15px;
    background-image: linear-gradient(to right, rgb(43, 184, 15), rgb(58, 131, 196) ) ;
    color: white;
    width: 200px;
    padding: 15px;
}
.transiction{
    display: flex;
    padding: 30px 158px;
    justify-content: left;
}
.cash-deposit{
    padding: 0px 30px;
    background-color: black;
    border-radius: 15px;
    margin: 10px;
}
.cash-deposit h2{
    color: rgb(255, 166, 32);
    font-family: 'kanit';
}
.cash-withDrawal{
    padding: 0px 30px;
    background-color: black;
    border-radius: 15px;
    margin: 10px;
}
.cash-withDrawal h2{
    color: rgb(255, 166, 32);
    font-family: 'kanit';
}
.balance-form{
    padding-bottom: 21px;
}
.cash-btn{
    color: black;
    background-color:  rgb(255, 166, 32);
    padding: 5px 10px;
    border-radius: 0px 10px 10px 0px;
}
.inp{
    padding: 5px;
    border-radius: 10px 0px 0px 10px;
}
.rpe{
    font-size: 20px;
}
.table{
    margin: 0 auto;
}
.t-heading{
    background-color: black;
    color: rgb(255, 166, 32);
    font-family: sans-serif;
}
.bank-record{
    display: none;
    margin: 1.5rem 0rem;
}
.data{
    background-color: rgb(255, 166, 32);
    color: black;
    font-family: sans-serif;
}
.record-btn-box{
        margin-left: 10.25rem;
}
#chk-record{
    color: white;
    background-color: black;
    border-radius: 10px;
    padding: 10px 15px;
    text-decoration: none;
    font-family: sans-serif;
    width: 135px;
}
#chk-record:hover{
    color: black;
    background-color: rgb(255, 166, 32);
}
#hide-record{
    color: white;
    background-color: black;
    border-radius: 10px;
    padding: 10px 15px;
    text-decoration: none;
    font-family: sans-serif;
    display: none;
    width: 135px;
}
#hide-record:hover{
    color: black;
    background-color: rgb(255, 166, 32);
}